
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting (from View)
        <p>We are goint to patty.</p>
        @Html.ActionLink("RSVP form", "RsvpForm")
    </div>
</body>
</html>
