@model PartyInvitesVS2015.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        body {
            background: #f1f1f1;
        }
    </style>
</head>
<body>
    @{
        try
        {
            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 465;
            WebMail.EnableSsl = true;
            WebMail.UserName = "stanislav.machel@gmail.com";
            WebMail.Password = "11235VkSm!";
            WebMail.From = "stanislav.machel@gmail.com";

            WebMail.Send("stanislav.machel@gmail.com", "RSVP Приглашение",
                Model.Name + ((Model.WillAttend ?? false) ? "" : "не") + "придет");

        }
        catch (Exception)
        {
            @:<b>Somehing goes wrong, email don't sent!</b>
        }
    }
    <div class="text-center">
        <h1>Thank you, @Model.Name!</h1>
        <div class="lead">
            @if (Model.WillAttend == true)
            {
                @: Good that you can partisipate in patty! Drinks are aready in fridge :)
        }
            else
            {
                @: We are very dissapointed that you can't partisipate in patty! Thank you that notice us!
        }
        </div>
    </div>
</body>
</html>
